html, body {
  height: 100%;
  margin: 0;
}

.animation-background, button{
 
  transition: background-color 2s ease;
}

.mybackground{
  display: flex;
  flex-direction: column;
  min-height:95vh;
}

#quote-box {
  font-family: 'Inter', sans-serif;
  max-width: 750px; /* Set your desired max-width here */
  /*transition: background-color 0.3s ease;*/
 }

.btn:hover {
  filter: brightness(1.5); /* Increase brightness on hover */
}

footer {
  font-family: 'Inter', sans-serif;
  background-color: #555;
  color: white;
  height:5vh;
  max-height: 150px;
}
footer, a{
  padding-right: 5px;
}